.title_wrapper {
  width: 320px;
  text-align: center;
  font-weight: bold;
  margin: 62px auto 47px;

  .h1 {
    font-size: 74px;
    @media screen and (max-width: 768px) {
      font-size: 48px;
    }
  }

  .subtitle {
    font-size: 25px;
  }

  .message {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
